@import '../../Styles/Variables.scss';

.buttonOuter {
    position: relative;
    height: 3rem;
    width: 10rem;
    border-radius: 0.1rem;
    border: 1px solid $btnBorderColorPrimary;
    .buttonInner {
        height: 100%;
        background-color: $btnColorPrimary;
        &:hover {
            background-color: $btnColorPrimaryHover; 
        }
        .buttonTitle {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .75rem;
            text-transform: uppercase;
            letter-spacing: .05rem;
        }
    }
    .secondaryBg {
        background-color: $btnColorSecondary;
        &:hover {
            background-color: $btnColorSecondaryHover; 
        }
    }
}

.secondaryBorder {
    border: 1px solid $btnBorderColorSecondary;
}