@import "../../Styles/Variables.scss";

.guides {
  display: flex;
  flex-grow: 1;
  background-color: rgb(133, 177, 97);
  height: 65vw;
  width: 30.4rem;
  @media (min-width: $newsBreakPointMedium) {
    height: 40vw;
  }
  @media (min-width: $newsBreakPointLarge) {
    height: 30vw;
  }
}
