// Colors
$bgColorPriority: rgb(0, 0, 0);
$bgColorSecondary: rgb(24, 0, 0);
$mainFontColor: rgb(235, 222, 194);
$mainFontColorSecondary: #ffffff;
$hoverColorPriority: rgb(192, 180, 153);
$hoverColorSecondary: rgb(235, 222, 194);
$navBarColor: rgb(32, 0, 0);
$footerColor: rgb(8, 0, 0);
$footerSocialsColor: rgb(24, 0, 0);
// $footerSocialsBorderColor: rgb(235, 222, 194, 0.2);
$footerSocialsBorderColor: rgb(64, 64, 64); 
$footerNavHoverColor: rgb(192, 180, 153);
$borderColorPrimary: rgb(64, 64, 64);
$borderColorSecondary: rgb(235, 222, 194);

// Buttons colors
$btnColorPrimary: rgb(0, 0, 0, 0.6);
$btnColorPrimaryHover: rgb(64, 64, 64, 0.65);
$btnBorderColorPrimary: rgb(64, 64, 64);
$btnColorSecondary: rgb(46, 0, 0, 0.95);
$btnColorSecondaryHover: rgb(80, 0, 0, 0.95);
$btnBorderColorSecondary: rgb(80, 0, 8);

// Fonts
$mainFont: "Open Sans", "Arial", "Helvetica", sans-serif;
$mainTitleFont: "Roboto", "Open Sans", "Arial", "Helvetica", sans-serif;

// NewsBreakPoint
$newsBreakPointSmall: 615px;
$newsBreakPointMedium: 993px;
$newsBreakPointLarge: 1280px;

// Height Break Point
$heightBreakPointXSmall: 288px;
