// Colors
$bgColorPriority: #000000;
$mainFontColor: #ebdec2;
// Buttons colors
$btnColorPrimary: rgb(182, 123, 123);

// Fonts
$mainFont: "Open Sans","Arial","Helvetica", sans-serif;
$mainTitleFont: "Roboto","Open Sans","Arial","Helvetica", sans-serif;