@import "../../Styles/Variables.scss";

.modal {
  z-index: 103;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 55%;
    background-color: $bgColorPriority;
    animation: showModalAnimation 0.5s;
    @media (max-width: $newsBreakPointSmall) {
        width: 100%;
      }
    > header {
      min-height: 7%;
      width: 100%;
      > nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem;
        .close-btn {
          cursor: pointer;
        }
        > div {
          &:nth-child(1) {
            > *svg {
              font-size: 2rem;
              color: $mainFontColorSecondary;
              &:hover {
                color: $mainFontColor;
              }
            }
          }
          &:nth-child(2) {
            > *svg {
              font-size: 2.5rem;
              &:hover {
                color: $hoverColorPriority;
              }
            }
          }
          &:nth-child(3) {
            > svg {
              font-size: 2rem;
              &:hover {
                color: $hoverColorPriority;
              }
            }
          }
        }
      }
    }
    > main {
      display: flex;
      flex-grow: 1;
      height: 70%;
      > *ul {
        flex-direction: column;
        > li {
            padding: 0.5rem;
            @media (max-height: $heightBreakPointXSmall) {
              padding: 0;
            }
          > a {
            letter-spacing: 0.1rem;
            font-size: 1.2rem;
            &:hover {
              color: $hoverColorPriority;
            }
          }
        }
      }
    }
    > footer {
      flex-direction: column;
      width: 100%;
      padding: 0.5rem;
      background-color: $footerSocialsColor;
      border-top: 1px solid $footerSocialsBorderColor;
      > .socials-nav nav ul {
        display: flex;
        > li {
          margin-inline: 0.1rem;
          > a:hover {
            color: $hoverColorPriority;
          }
        }
      }
    }
  }
}

@keyframes showModalAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}