@import "../../Styles/Variables.scss";

.main-footer {
  margin-top: 0.1rem;
  background-color: $footerColor;
  &__socials {
    flex-direction: column;
    flex-grow: 1;
    min-height: 5rem;
    padding: 0.5rem;
    background-color: $footerSocialsColor;
    border: 0.1rem solid $footerSocialsBorderColor;
    &__title {
      h3 {
        letter-spacing: 0.05rem;
      }
    }
    &__icons {
      ul {
        display: flex;
        li {
          margin-inline: 0.2rem;
          a:hover {
            color: $footerNavHoverColor;
          }
        }
      }
    }
  }
  &__others {
    flex-grow: 1;
    flex-direction: column; 
    &__logo {
      height: 20%;
      padding-top: 1rem;
      svg {
        font-size: 3rem;
      }
    }
    &__nav {
      height: 60%;
      padding-bottom: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          .credits-btn:hover {
            cursor: pointer;
            color: $footerNavHoverColor;
          }
          a:hover {
            color: $footerNavHoverColor;
          }
        }
      }
    }
    &__copyright {
      display: flex;
      height: 20%;
      justify-content: flex-end;
      font-size: 0.8rem;
    }
  }
}
