.common-news {
    display: flex;
    flex-grow: 1;
    background-color: rgb(161, 73, 73);
    // min-height: 13rem;
    height: 50vw;
    // max-height: 16rem;
    // min-width: 20rem;
    width: 29rem;
}