@import "../../Styles/Variables.scss";

.offers {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 80vw;
  width: 100%;
  border: 1px solid $borderColorPrimary;
  &__image {
    height: 50%;
    background-color: $bgColorPriority;
    background-size: cover;
    background-position: center;
    @media (min-width: $newsBreakPointMedium) {
      display: flex;
      align-items: center;
      // justify-content: flex-end;
      height: 100%;
    }
    &__desc {
      display: none;
      flex-direction: column;
      width: 40%;
      margin-left: 4rem;
      margin-right: 4rem;
      @media (min-width: $newsBreakPointMedium) {
        display: flex;
      }
      &__info {
        &__prev-title {
          font-size: 0.8rem;
          text-transform: uppercase;
        }
        > h2 {
          margin-left: -3px;
          font-size: 3rem;
          text-transform: capitalize;
        }
        > p {
          padding: 0.8rem 0;
        }
      }
      &__btns {
        display: flex;
        > div {
          margin-inline-end: 0.6rem;
        }
      }
    }
  }
  &__desc {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: $bgColorSecondary;
    border-top: 0.05rem solid $borderColorPrimary;
    @media (min-width: $newsBreakPointMedium) {
      display: none;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70%;
      width: 75%;
      @media (max-width: $newsBreakPointSmall) {
        height: 65%;
      }
      &__prev-title {
        font-size: 0.85rem;
        text-transform: uppercase;
        @media (max-width: $newsBreakPointSmall) {
          font-size: 0.5rem;
        }
      }
      > h2 {
        text-transform: capitalize;
        @media (max-width: $newsBreakPointSmall) {
          font-size: 1rem;
        }
      }
      > p {
        padding-top: 0.7rem;
        padding-bottom: 0.3rem;
        font-size: clamp(0.3rem, 2.2vw, 1rem);
        text-align: center;
        @media (max-width: $newsBreakPointSmall) {
          padding-top: 0;
          padding-bottom: 0;
          font-size: clamp(0.3rem, 2.4vw, 1rem);
        }
      }
    }
    &__btns {
      display: flex;
      height: 30%;
      @media (max-width: $newsBreakPointSmall) {
        height: 35%;
      }
      > div {
        margin-inline: 0.6rem;
      }
    }
  }
  @media (min-width: $newsBreakPointMedium) {
    height: 35vw;
  }
  @media (min-width: $newsBreakPointLarge) {
    height: 30vw;
  }
}
