@import "../../Styles/Variables.scss";

.offers {
  display: flex;
  flex-grow: 1;
  background-color: rgb(72, 119, 163);
  height: 65vw;
//   width: 30rem;
  width: 100%;
  @media (min-width: $newsBreakPointMedium) {
    height: 35vw;
  }
  @media (min-width: $newsBreakPointLarge) {
    height: 30vw;
  }
}
